<section id="hero" class="hero section accent-background">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Great experience borrowing books Online</h1>
                <p>We are team of talented Developers making websites with .Net</p>
                <div class="d-flex">
                    <a asp-controller="Accounts" asp-action="GetRegisterView" class="btn-get-started">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="~/assets/img/Advantages-of-Online-Examination-Software-removebg-preview (1).png" class="img-fluid animated" alt="" width="1340px">
            </div>
        </div>
    </div>

</section>

<!-- Features Section -->
<section id="features" class="features section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Features</h2>
        <p>Discover the unique benefits of our digital library for borrowing books</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4 justify-content-between">
            <div class="features-image col-lg-5 order-lg-2 d-flex align-items-center" data-aos="fade-up" data-aos-delay="100"><img src="~/assets/img/features.svg" class="img-fluid" alt="Library Features"></div>
            <div class="col-lg-6 d-flex flex-column justify-content-center">

                <div class="features-item d-flex ps-0 ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-archive flex-shrink-0"></i>
                    <div>
                        <h4>Vast Collection</h4>
                        <p>Access thousands of e-books across various genres and subjects with ease.</p>
                    </div>
                </div><!-- End Features Item-->

                <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-basket flex-shrink-0"></i>
                    <div>
                        <h4>User-Friendly Interface</h4>
                        <p>Navigate our platform easily to find and borrow your favorite books.</p>
                    </div>
                </div><!-- End Features Item-->

                <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-broadcast flex-shrink-0"></i>
                    <div>
                        <h4>Instant Borrowing</h4>
                        <p>Quickly borrow e-books and start reading them immediately without any delays.</p>
                    </div>
                </div>><!-- End Features Item-->
            </div>
        </div>
    </div>
</section>

<!-- /Features Section -->



<section id="team" class="team section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Meet our dedicated team members who make our library thrive.</p>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="row gy-4 justify-content-center">
            <!-- Centered alignment -->

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/assets/img/team/photo_2024-10-22_17-03-38.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Mohammad Gad</h4>
                        <span>.Net Developer</span>
                        <p>.NET developer dedicated to creating efficient applications, utilizing the latest technologies to drive innovation and improve performance.</p>

                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/assets/img/team/1687026076727.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Abdallah Nasrat</h4>
                        <span>Full stack .Net Developer</span>
                        <p>.NET developer with extensive experience in building scalable web applications. And utilizing the latest technologies to drive innovation</p>
                    </div>
                </div>
            </div><!-- End Team Member -->
        </div>
    </div>

</section><!-- /Team Section -->
